body {
  background-image: url(img/festival.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: rgb(186, 25, 25);
  font-style: italic;
  text-align: center;
  margin-top: 35px;
  font-size: 80px;
  padding: 20px;
  font: bolder;
}
.Mooncakes{
  text-align: center;
;
  
}
.description {
  color: whitesmoke;
  font-style: italic;
  text-align:center;
  font-size: 55px;
  margin-top: 35px;
  padding-top: 150px;
}
.description2 {
  color: whitesmoke;
  font-style: italic;
  text-align: left;
  font-size: 55px;
  margin-top: 35px;
  padding-top: 110px;
}
  .description3 {
    color: whitesmoke;
    font-style: italic;
    text-align: left;
    font-size: 55px;
    margin-top: 35px;
    padding-top: 110px;
