body {
  background-color: brown;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  color: rgb(0, 0, 0);
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  font-size: 80px;

  font: bolder;
}
.Mooncakes {
  background-image: url("img/Mooncakes.jfif");
  height: 333px;
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
}
.description {
  color: whitesmoke;
  font-style: italic;
  text-align: center;
  font-size: 55px;
  margin-top: 34 px;
  padding-top: 105px;
}
.Mooncake-description {
  color: whitesmoke;
  font-style: italic;
  text-align: center;
  width: 45%;
  position: relative;
  font-size: 40px;
  border-style: double;
  border-width: 10px;
  background-color: firebrick;
  border-color: rgb(95, 15, 15);
  margin-left: auto;
  margin-right: auto;
}
.Mooncake-Pic-2 {
  background-image: url("img/Mooncakes-2.jpg");
  height: 333px;
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
}
.description-2 {
  color: whitesmoke;
  font-style: italic;
  text-align: center;
  width: 45%;
  position: relative;
  font-size: 40px;
  border-style: double;
  border-width: 10px;
  background-color: firebrick;
  border-color: rgb(95, 15, 15);
  margin-left: auto;
  margin-right: auto;
}
.Favorite-Mooncake-2 {
  background-image: url("img/Mooncakes-Canto.jpg");
  height: 333px;
  background-repeat: no-repeat;
  background-size: 500px;
  background-position: center;
}
